<mat-toolbar
  color="">
  <mat-toolbar-row
    fxLayout="row"
    fxLayoutAlign="start center">
    <span>Day: {{ day$ | async}}</span>
    <span fxFlex></span>
    <span>Balance: €{{ balance$ | async | number }}</span>
  </mat-toolbar-row>
  <mat-toolbar-row
    fxLayout="row"
    fxLayoutAlign="start center">
    <span>
      {{ devCount$ | async}} <fa-icon icon="user"></fa-icon>
      {{ smCount$ | async}} <fa-icon icon="user-clock"></fa-icon>
      {{ poCount$ | async}} <fa-icon icon="user-tie"></fa-icon>
    </span>
    <span fxFlex></span>
    <span>€{{ dailyCost$ | async | number }}/day</span>
  </mat-toolbar-row>
</mat-toolbar>
