<mat-list role="list">
  <mat-list-item *ngFor="let event of events$ | async | reverse">
    <mat-icon matListIcon>event_note</mat-icon>
    Day {{event.day}}:  {{event.message}}
  <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
