<app-header></app-header>
<div
  flex
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutGap="16px">
  <div
    fxFlex="calc(30% - 16px)"
    fxFlex.xs="calc(100% - 16px)"
    fxFlexOffset="16px">
    <app-actions></app-actions>
  </div>
  <div
    fxFlex="calc(70% - 16px)"
    fxFlex.xs="calc(100% - 16px)"
    >
    <app-event-log></app-event-log>
  </div>
</div>
