<mat-action-list>
  <button mat-list-item *ngIf="canHire$ | async" (click)="doHireDeveloper()">
    <fa-icon mat-list-icon icon="user"></fa-icon> Hire a developer
  </button>

  <button mat-list-item *ngIf="canHire$ | async" (click)="doHireScrumMaster()">
    <fa-icon mat-list-icon icon="user-clock"></fa-icon> Hire a scrum master
  </button>

  <button mat-list-item *ngIf="canHire$ | async" (click)="doHireProductOwner()">
    <fa-icon mat-list-icon icon="user-tie"></fa-icon> Hire a product owner
  </button>
</mat-action-list>
