<h1 mat-dialog-title>Hello there!</h1>
<div mat-dialog-content>
  <p>{{data.message}}</p>
  <p>Would you take the role?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" color="warn">No, Thanks</button>
  <button mat-button [mat-dialog-close]="data.result" color="primary" cdkFocusInitial>Yes, Sure</button>
</div>
